html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

nav {
	text-transform: uppercase;
}

a.nav-item {
	color: #101010;
	font-weight: 600;
	transition: all 0.575s;
	border-bottom: 3px solid #ffffff00;
}

a.socialLink {
	transition: all 0.575s;
}

a.socialLink:hover {
	color: #ee3131;
}

a.nav-item:hover {
	color: #ee3131;
	text-decoration: none;
	border-bottom: 3px solid #ee3131;
}

a.nav-item.active {
	color: #ee3131;
	border-bottom: 3px solid #ee3131;
}

.nav-hamburger {
	display: none;
}

.nave-toggle {
	display: none;
}

h4 span {
	font-weight: 200;
}

.services-list {
	font-size: 0.8rem;
	font-weight: 600;
}

/* footer */

.footer-contact {
	position: relative;
	top: -3rem;
}

/* 404 page */
#container-404 {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #151729;
	padding: 2rem 0;
}

.content {
	max-width: 600px;
	text-align: center;
}

#container-404 h2 {
	font-size: 18vw;
	color: #fff;
	line-height: 1em;
}
#container-404 h4 {
	position: relative;
	font-size: 1.5em;
	margin-bottom: 20px;
	color: #111;
	background: #fff;
	font-weight: 300;
	padding: 10px 20px;
	display: inline-block;
	border-radius: 3px;
}

#container-404 p {
	color: #fff;
	font-size: 1.2em;
}

#container-404 a {
	position: relative;
	display: inline-block;
	padding: 10px 25px;
	background: #ff0562;
	color: #fff;
	text-decoration: none;
	margin-top: 25px;
	border-radius: 25px;
	border-bottom: 4px solid #d00d56;
}

@media only screen and (max-width: 769px) {
	div *.nav-item {
		display: none;
	}
	.nav-hamburger {
		display: inline-block;
	}
	.nave-toggle {
		display: inline-block;
	}
	#accordion-panel-1 {
		display: flex;
		flex-direction: column;
	}
	#accordion-panel-1 .nav-item {
		display: inline-block;
	}
}
